<template>
    <div>
        <div class="container-scroller">
            <!-- partial:../../partials/_navbar.html -->
            <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
                <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                    <a class="navbar-brand brand-logo mr-5" href="#">GIKHUT</a>
                        <a class="navbar-brand brand-logo-mini" href="#">GH</a>
                </div>
                <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
                    <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                        <span class="ti-layout-grid2"></span>
                    </button>
                    <ul class="navbar-nav mr-lg-2">
                        <li class="nav-item nav-search d-none d-lg-block">
                            <div class="input-group">
                                <div class="input-group-prepend hover-cursor" id="navbar-search-icon">
                <span class="input-group-text" id="search">
                  <i class="ti-search"></i>
                </span>
                                </div>
                                <input type="text" class="form-control" id="navbar-search-input" placeholder="Search now" aria-label="search" aria-describedby="search">
                            </div>
                        </li>
                    </ul>
                    <ul class="navbar-nav navbar-nav-right">


                        <li class="nav-item nav-profile dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                                <img src="/images/index.png" alt="profile"/>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                                <router-link :to="{name:'profile'}" class="dropdown-item">
                                    <i class="ti-user text-primary"></i>
                                    Profile
                                </router-link>
                                <a class="dropdown-item" v-on:click="logout()">
                                    <i class="ti-power-off text-primary"></i>
                                    Logout
                                </a>
                            </div>
                        </li>
                        <li class="nav-item nav-settings d-none d-lg-flex">
                            <a class="nav-link" href="#">
                                <i class="ti-more"></i>
                            </a>
                        </li>
                    </ul>
                    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                        <span class="ti-layout-grid2"></span>
                    </button>
                </div>
            </nav>
            <!-- partial -->
            <div class="container-fluid page-body-wrapper">

                <nav class="sidebar sidebar-offcanvas border bg-white" id="sidebar">
                    <ul class="nav">
                        <li class="nav-item">
                            <router-link :to="{name:'home'}" class="nav-link" href="#">
                                <i class="ti-home menu-icon"></i>
                                <span class="menu-title">Dashboard</span>
                            </router-link>
                        </li>
                        <li  class="nav-item">
                            <router-link :to="{name:'buildings'}" class="nav-link" href="#">
                                <i class="ti-trello menu-icon"></i>
                                <span class="menu-title">Buildings</span>
                            </router-link>
                        </li>
                        <li  class="nav-item">
                            <router-link :to="{name:'houses'}" class="nav-link" href="#">
                                <i class="ti-light-bulb menu-icon"></i>
                                <span class="menu-title">Houses</span>
                            </router-link>
                        </li>
                        <li  class="nav-item">
                            <router-link :to="{name:'tenants'}" class="nav-link" href="#">
                                <i class="ti-cloud menu-icon"></i>
                                <span class="menu-title">Tenants</span>
                            </router-link>
                        </li>
                        <li  class="nav-item">
                            <router-link :to="{name:'housecategory'}" class="nav-link" href="#">
                                <i class="ti-settings menu-icon"></i>
                                <span class="menu-title">Settings</span>
                            </router-link>
                        </li>
                        <li  class="nav-item">
                            <router-link :to="{name:'billingbuildings'}" class="nav-link" href="#">
                                <i class="ti-money menu-icon"></i>
                                <span class="menu-title">Billing</span>
                            </router-link>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
                                <i class="ti-package menu-icon"></i>
                                <span class="menu-title">Invoices</span>
                                <i class="menu-arrow"></i>
                            </a>
                            <div class="collapse" id="charts">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item"> <router-link :to="{name:'pendinginvoice'}" class="nav-link" href="#">Pending</router-link></li>
                                    <li class="nav-item"> <router-link :to="{name:'paidinvoice'}" class="nav-link" href="#">Paid</router-link></li>
                                    <li class="nav-item"> <router-link :to="{name:'disputedinvoice'}" class="nav-link" href="#">Disputed</router-link></li>
                                </ul>
                            </div>
                        </li>

                        <li class="nav-item">
                            <router-link :to="{name:'profile'}" class="nav-link" href="#">
                                <i class="ti-key menu-icon"></i>
                                <span class="menu-title">Profile</span>
                            </router-link>
                        </li>

                        <li   class="nav-item">
                            <a v-on:click="logout()" class="nav-link" href="#">
                                <i class="ti-arrow-right menu-icon"></i>
                                <span class="menu-title">Logout</span>
                            </a>
                        </li>


                    </ul>
                </nav>
                <!-- partial -->
                <div class="main-panel">
                    <div class="content-wrapper">

                        <router-view></router-view>

                    </div>
                    <!-- content-wrapper ends -->
                    <!-- partial:../../partials/_footer.html -->
                    <footer class="footer">
                        <div class="d-sm-flex justify-content-center justify-content-sm-between">
                            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2021 <a href="#" target="_blank">GikHut</a>. All rights reserved.</span>
                            <!--<span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="ti-heart text-danger ml-1"></i></span>-->
                        </div>
                    </footer>
                    <!-- partial -->
                </div>
                <!-- main-panel ends -->
            </div>
            <!-- page-body-wrapper ends -->
        </div>

    </div>
</template>
<!--<style>-->
<!--    .fade-enter-active, .fade-leave-active {-->
<!--        transition: opacity .5s-->
<!--    }-->
<!--    .fade-enter, .fade-leave-active {-->
<!--        opacity: 0-->
<!--    }-->
<!--</style>-->


<script>
    export default {
        data() {
            return {
                proxyUrl: process.env.MIX_APP_URL,
                name:'',
                role:'',
                email:'',
            }
        },
        created(){
            this.name=localStorage.getItem('name');
            this.role=localStorage.getItem('role');
            this.email=localStorage.getItem('email');
        },
        watch:{
            '$route' (to, from) {
                this.name=localStorage.getItem('name');
                this.role=localStorage.getItem('role');
                this.email=localStorage.getItem('email');
            }
        },
        methods: {
            logout() {
                localStorage.removeItem('token');
                this.$router.push({name: 'login'});
                // this.$router.go(this.$router.currentRoute)
            },
        }
    }
</script>
