<template>
    <div>

        <div class="row justify-content-center">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Billing rooms for <span class="text-primary">{{name}}</span></h4>
                        <table id="dt-basic-example" class="table ">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Room Number</th>
                                <th>Total  (Ksh.)</th>
                                <th>Name of Tenant</th>
                                <th>Contact of tenant</th>
                                <th>type</th>
                                <th>Add charges</th>
                                <th >
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input selectall" id="defaultUnchecked" v-on:change="checkAll()">
                                        <label class="custom-control-label" for="defaultUnchecked"> All</label>
                                    </div>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr  v-for="(post,index) in buidlings" :key="index" data-toggle="tooltip" data-placement="top" title="CLIck TO ADD OTHER CHARGES">
                                <td>{{index+1}}</td>
                                <td>{{post.number}}</td>
                                <td>{{formatPrice(+post.other_amount+ +post.cost+ +post.other_charges)}}</td>
                                <td>{{post.name}}</td>
                                <td>{{post.phone}}</td>
                                <td>{{post.category}}</td>
                                <td><a @click="viewAdd(post.number,post.id)" class="fa fa-money text-warning" data-toggle="tooltip"   data-placement="top" title="Bill this room" >
                                </a></td>
                                <td >
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox"     class="custom-control-input room_id" :id="post.id" v-on:change="addTotal(+post.other_amount+ +post.cost+ +post.other_charges,post.id)">
                                        <label class="custom-control-label" :for="post.id"></label>
                                    </div>
                                </td>
                            </tr>

                            </tbody>
                        </table>



                        <hr>
                        <div class="alert alert-success  fade show text-center" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true"><i class="fal fa-times"></i></span>
                            </button>
                            <h3><strong>TOTAL</strong> Ksh {{formatPrice(total)}}  <span id="total"></span></h3>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-sm-4">
                                <button type="button"  data-toggle="modal" data-target="#pay" class="btn btn-primary btn-block submitbtn" disabled>GENERATE INVOICES</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>



        <!-- Centered modal -->
        <form method="post"  v-on:submit.prevent="generateInvoice()">
        <div class="modal fade" id="pay" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content border-none radius-0 border-t-4 brc-warning-m1 px-3">
                    <div class="modal-header py-2">
                        <i class="bgc-white fal fa-exclamation-circle mb-n4 mx-auto fa-3x text-orange-m2"></i>
                    </div>

                    <div class="modal-body text-center">
                        <p class="text-orange-d3 text-130 mt-3">
                            You are about to generate an Invoice for <b>{{message.rooms.length}} Rooms</b>
                        </p>
                        <p>Total Ksh. <b>{{formatPrice(total)}}</b></p>

                        <div class="form-group row">
                        <span class="floating-label text-grey-m3">
                      Please Select Month you are billing for
                    </span>
                            <div class="col-sm-12 input-floating-label text-blue-d2 brc-blue-m1">
                                <input type="date" name="name" v-model="message.payment_month" class="form-control form-control-lg  shadow-none" id="id-form-field-2" required />
                            </div>
                        </div>
                        <hr>


                        <div class="modal-footer flex-nowrap bgc-white justify-content-between px-0 py-3">
                            <button type="button" class="btn btn-warning" data-dismiss="modal">
                                <i class="fal fa-undo-alt mr-1 text-danger"></i>
                                Close
                            </button>

                            <button type="submit"  class="btn btn-primary submitbtn">
                                GENERATE
                                <i class="fa fa-arrow-right"></i>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        </form>



        <!-- Centered modal -->
        <div class="modal fade" id="add_charges" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content border-none radius-0 border-t-4 brc-warning-m1 px-3">
                    <div class="modal-header py-2">
                        <i class="bgc-white  mb-n4 mx-auto fa-3x text-orange-m2"></i>
                    </div>
                    <form method="post"  v-on:submit.prevent="submit()" >
                        <div class="modal-body text-center">
                                <h6>Add Other charges to room <b>{{room_name}}</b></h6><hr>

                                    <div class="form-group">
                                        <label class="form-label" for="example-password">Charges name</label>
                                        <input type="text"  class="form-control"  name="currentpass"  v-model="message.name"  required>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label" for="example-password">Charges Amount</label>
                                        <input type="text"  class="form-control"  name="currentpass"  v-model="message.amount"  required>
                                    </div>


                        </div>
                        <div class="modal-footer flex-nowrap bgc-white justify-content-between px-0 py-3">
                            <button type="button" class="btn btn-warning" data-dismiss="modal">
                                <i class="fal fa-undo-alt mr-1 text-danger"></i>
                                Close
                            </button>

                            <button type="submit" class="btn btn-primary submitbtn">
                                Submit
                                <i class="fa fa-arrow-right"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</template>
<script>
    export default {
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message:{
                    rooms:[],
                    payment_month:'',
                },
                name:'',
                room:'',
                category:[],
                charges_data:{},
                room_name:'',
                 room_id:'',
                 flag:'No',
                buidlings:[],
                total:'0.00'
            }
        },
        created() {
            this.loaddata();
        },
        methods: {
            checkAll(){
                if($('#defaultUnchecked').is(':checked')){
                    var cost=this.buidlings.reduce((acc, item) => acc + +item.cost, 0);
                    var other_amount=this.buidlings.reduce((acc, item) => acc + +item.other_amount, 0);
                    var other_charges=this.buidlings.reduce((acc, item) => acc + +item.other_charges, 0);
                    this.total=+cost+ +other_amount+ +other_charges;

                    for (let i = 0; i < this.buidlings.length; i++) {
                        this.message.rooms.push(this.buidlings[i].id);
                    }
                }else{
                    this.total=0.00;
                    this.message.rooms=[];
                }
                if(+this.total<=0){
                    $('.submitbtn').attr('disabled', true);
                }else{
                    $('.submitbtn').attr('disabled', false);
                }
                console.log(this.message.rooms)
            },
            addTotal(amount,id){
                if($('#'+id).is(':checked')){
                    this.total=+this.total+ +amount;
                    this.message.rooms.push(id);
                }else{
                    this.total=+this.total- +amount;
                    this.message.rooms.splice(this.message.rooms.indexOf(id), 1);
                }
                if(+this.total<=0){
                    $('.submitbtn').attr('disabled', true);
                }else{
                    $('.submitbtn').attr('disabled', false);
                }
                console.log(this.message.rooms);
            },
            viewAdd(name,room_id){
                this.flag='Yes';
                this.room_id=room_id;
                this.room_name=name;
                $('#add_charges').modal('show');
            },
            generateInvoice(){
              loadbutton();
                this.message.room_id=this.room_id;
                let uri =this.proxyUrl+`auth/invoice/generateInvoice`;
                this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token') } }).then(response => {
                   stopbutton();
                    if(response.data.status){
                        $('#pay').modal('hide');
                        this.$notify({group: 'foo', text:response.data.message , type:'success', title: 'success'});
                        this.$router.push({name: 'pendinginvoice'});
                    }else{
                        this.$notify({group: 'foo', text:response.data.message , type:'success', title: 'success'});
                    }
                }).catch(error => {
                   stopbutton();
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                    }else{
                        this.$notify({group: 'foo', text:'We are not able to complete your request' , type:'error', title: 'error'});
                    }
                });
            },
            submit(){
                loadbutton();
                this.message.room_id=this.room_id;
                let uri =this.proxyUrl+`auth/invoice/addOtherCharges`;
                this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token') } }).then(response => {
                   stopbutton();
                   if(response.data.status){
                       this.$notify({group: 'foo', text:response.data.message , type:'success', title: 'success'});
                         this.loaddata();
                         this.flag='No';
                   }

                }).catch(error => {
                     stopbutton();
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                    }else{
                        this.$notify({group: 'foo', text:'We are not able to complete your request' , type:'error', title: 'error'});
                    }
                });
            },
            loaddata(){
                let uri =this.proxyUrl+`auth/building/getBuidlingInfoInvoice/${this.$route.params.id}`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token') } }).then(response => {
                    this.name = response.data.data.name;
                    this.buidlings=response.data.buidlings;
                    // datatable();
                }).catch(error => {
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                    }else{
                        this.$notify({group: 'foo', text:'we are not able to complete your request' , type:'error', title: 'error'});
                    }
                });
            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            }


        }
    }
</script>
