<template>
    <div>

        <div class="row justify-content-center">
            <div class="col-lg-8 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <P> Add Houses to <span class="text-primary">{{name}}</span></P><hr>
                        <form class="pt-3" v-on:submit.prevent="submit()">

                            <div class="row justify-content-center">
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <input type="text" v-model="message.number" class="form-control form-control-sm" id="exampleInputEmail1" placeholder="House Number" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <input type="text" v-model="message.cost" class="form-control form-control-sm" id="exampleInputEmail1" placeholder="Monthly cost " required>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-sm-8">
                                    <div class="form-group ">
                                        <select class="form-control" v-model="message.category"  name="type" required>
                                            <option disabled selected="selected">Select category</option>
                                            <option v-for="country in category" :key="country.name" v-bind:value="country.name" >{{country.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <button type="button" data-toggle="modal" data-target="#charges" class="btn btn-outline-warning ">Add Constant charges ({{message.charges.length}})</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                            <div class="mt-3 col-sm-8">
                                <button class="btn  btn-primary  btn-block font-weight-medium auth-form-btn submitbtn" type="submit">SUBMIT</button>
                            </div>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="charges" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ModalLabel"> Other constant  monthly changes</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form class="pt-3" v-on:submit.prevent="update()">
                        <div class="modal-body">

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text"  v-model="charges_data.name" class="form-control form-control-sm" id="exampleInputEmail1" placeholder="Charge Name " required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="number" v-model="charges_data.amount" class="form-control form-control-sm" id="exampleInputEmail1" placeholder="Amount" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <table  class="table table-bordered table-hover table-striped w-100">
                                    <thead>
                                    <tr>
                                        <th>Charge name</th>
                                        <th>Amount  (Ksh.)</th>
                                        <th></th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="post in message.charges" :key="post.name">
                                        <td>{{post.name}}</td>
                                        <td>{{post.amount}}</td>
                                        <td><a href="#" v-on:click="removeCharge(post.name)" class="fa fa-trash text-danger"></a></td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary submitbtn"  v-on:click="buildCharges()">Add</button>
                            <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>




    </div>
</template>
<script>
    export default {
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message:{
                    charges:[],
                },
                buidlings:[],
                name:'',
                room:'',
                category:[],
                charges_data:{},
            }
        },
        created() {
            this.loaddata();
        },
        methods: {
            removeCharge(name){
                this.message.charges.splice(this.message.charges.indexOf(name), 1);
            },
            buildCharges(){
                this.message.charges.push({name:this.charges_data.name,amount:this.charges_data.amount});
                this.charges_data={};
            },
            loaddata(){
                let uri =this.proxyUrl+`auth/building/getBuidlingInfo/${this.$route.params.id}`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token') } }).then(response => {
                    this.name = response.data.data.name;
                    this.buidlings=response.data.buidlings;
                    this.category=response.data.category;
                }).catch(error => {
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                    }else{
                        this.$notify({group: 'foo', text:'we are not able to complete your request' , type:'error', title: 'error'});
                    }
                });
            },
            submit() {
               loadbutton();
                this.message.building_id=this.$route.params.id;
                let uri =this.proxyUrl+`auth/room/add`;
                this.axios.post(uri, this.message ,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token') } }).then((response) => {
                   stopbutton();
                    if(response.data.status){
                       showSuccessToast(response.data.message);
                        this.message={ charges:[],}
                    }else{
                        this.message={};
                       showWarningToast(response.data.message);
                    }
                }).catch(error => {
                   stopbutton();
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                    }else{
                        this.$notify({group: 'foo', text:'we are not able to complete your request' , type:'error', title: 'error'});
                    }
                });

            },

            onboard(room_id,room,occupied) {
                if(occupied==='No') {
                    this.message.room_id = room_id;
                    this.message.building_id = this.$route.params.id;
                    this.room = room;
                    $('#addpaper').modal('show');
                }else{
                    this.$notify({group: 'foo', text:'The room is occupied' , type:'error', title: 'error'});
                }
            },
            update() {
                loadbutton();
                let uri =this.proxyUrl+`auth/building/update`;
                this.axios.post(uri, this.message ,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token') } }).then((response) => {
                    stopbutton();
                    if(response.data.status){
                        this.$notify({group: 'foo', text:response.data.message , type:'success', title: 'success'});
                        this.$router.go(this.$router.currentRoute)
                    }else{
                        this.$notify({group: 'foo', text:response.data.message , type:'error', title: 'error'});
                    }
                }).catch(error => {
                    stopbutton();
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                    }else{
                        this.$notify({group: 'foo', text:'we are not able to complete your request' , type:'error', title: 'error'});
                    }

                });

            },

        }
    }
</script>
