<template>
    <div>

        <div class="row justify-content-center">
            <div class="col-lg-8 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <P>  Edit Room</P><hr>
                        <form method="post"  v-on:submit.prevent="update()">

                            <div class="row justify-content-center">
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <input type="text" v-model="message.number" class="form-control form-control-sm" id="exampleInputEmail1" placeholder="House Number" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <input type="text" v-model="message.cost" class="form-control form-control-sm" id="exampleInputEmail1" placeholder="Monthly cost " required>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-sm-8">
                                    <div class="form-group ">
                                        <select class="form-control" v-model="message.category"  name="type" required>
                                            <option disabled selected="selected">Select category</option>
                                            <option v-for="country in category" :key="country.name" v-bind:value="country.name" >{{country.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="mt-3 col-sm-8">
                                    <button class="btn  btn-primary  btn-block font-weight-medium auth-form-btn submitbtn" type="submit">SUBMIT</button>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>


    </div>
</template>
<script>
    export default {
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message:{},
                buidlings:[],
                name:'',
                room:'',
                category:[],
                charges_data:{},
            }
        },
        created() {
            this.loaddata();
        },
        methods: {

            loaddata(){
                let uri =this.proxyUrl+`auth/room/getRoomInfo/${this.$route.params.id}`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token') } }).then(response => {
                    this.message=response.data.room[0];
                    this.category=response.data.category;
                }).catch(error => {
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                    }else{
                        this.$notify({group: 'foo', text:'we are not able to complete your request' , type:'error', title: 'error'});
                    }
                });
            },
            update() {
               loadbutton();
                this.message.building_id=this.$route.params.id;
                let uri =this.proxyUrl+`auth/room/update/${this.$route.params.id}`;
                this.axios.post(uri, this.message ,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token') } }).then((response) => {
                   stopbutton();
                    if(response.data.status){
                        showSuccessToast(response.data.message);
                    }else{
                       showWarningToast(response.data.message);
                    }
                }).catch(error => {
                   stopbutton();
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                    }else{
                        this.$notify({group: 'foo', text:'we are not able to complete your request' , type:'error', title: 'error'});
                    }
                });

            },


        }
    }
</script>
