<template>
    <div>

        <div class="container-scroller">
            <div class="container-fluid page-body-wrapper full-page-wrapper">

                <div class="content-wrapper d-flex align-items-center auth color-overlay" style="background-image: url(/images/bg.jpg)">
                    <div class="row w-100 mx-0">
                        <div class="col-lg-4 mx-auto">
                            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                                <div class="brand-logo row justify-content-center">
                                    <img src="/images/index.png" alt="logo" style="width: 20%;">
                                </div>
                                <h4 class="text-center" style="color: #FF7900;">Gikhut</h4>
                                <h6 class="text-center signintext">Enter six digit code sent to {{message.phone}}</h6> <!-- Email -->
                                <form class="pt-3" v-on:submit.prevent="register()">
                                    <div class="form-group">
                                        <input type="text" v-model="message.code" class="form-control form-control-sm" id="exampleInputEmail1" placeholder="Enter OTP" required>
                                    </div>

                                    <div class="mt-3">
                                        <button class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn submitbtn" type="submit">VERIFY</button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>

    </div>
</template>
<script>

    export default {
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message:{},
            }
        },
        created() {
            this.message.phone=localStorage.getItem('phone');
        },
        methods: {
            register() {
               loadbutton();
                let uri =this.proxyUrl+`auth/verify`;
                this.axios.post(uri, this.message).then((response) => {
                    stopbutton();
                    if(response.data.status){
                        this.$router.push({name: 'register'});
                    }else{
                       showWarningToast(response.data.message)
                        localStorage.removeItem('token')
                    }
                }).catch(error => {
                   stopbutton();
                    this.$notify({group: 'foo', text:'Error' , type:'error', title: 'error'});
                    localStorage.removeItem('token')
                });

            },
            otp() {
                loadbutton2();
                let uri =this.proxyUrl+`auth/otp`;
                this.axios.post(uri, this.message).then((response) => {
                    stopbutton2();
                    if(response.data.status){
                        $('#addpaper').modal('hide');
                        swal({text: response.data.message, icon: "success",});
                    }else{
                        swal({text: response.data.message, icon: "error",});
                    }
                }).catch(error => {
                    stopbutton2();
                    swal({text: 'System technical error', icon: "error",});
                });

            },

        }
    }
</script>

