<template>
    <div>

        <div class="row justify-content-center">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">My Tenants ({{tenants.length}})</h4>
                        <div class="d-flex float-left">
                            <div class="form-group mr-3">
                                <select class="form-control"  id="form-field-select-1" name="type" required v-model="message.id" v-on:change="setID()">
                                    <option selected="true" disabled="disabled">Select your buildings</option>
                                    <option  v-for="data in buildings" :key="data.id" v-bind:value="data.id" >{{data.name}}</option>
                                </select>
                                <p v-if="showInfo==='true'" class="text-danger">{{info}}</p>
                            </div>
                        </div>
                        <div class="d-flex float-right">
                            <div class="mb-3 mb-xl-0">
                                <a  data-toggle="modal" data-target="#addpaper" v-on:click="addtenants()" class="btn btn-warning rounded-0 text-white">Add Tenants</a>
                            </div>
                            <!--<div class="mb-3 mb-xl-0 ml-3">-->
                            <!--<download-excel :data="clients">-->
                            <!--<a class="btn btn-primary rounded-0 text-white fa fa-print"></a>-->
                            <!--</download-excel>-->
                            <!--</div>-->

                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Room </th>
                                    <th>Building</th>
                                    <th>Tenants Name</th>
                                    <th>Tenants Phone</th>
                                    <th>Email</th>
                                    <th>ID Number</th>
                                    <th>Number of people</th>
                                    <th>Status</th>
                                    <th>Monthly(Ksh)</th>
                                    <th>Other charges</th>
                                    <th>Total </th>
                                    <th>Balance</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(post,index) in tenants" :key="post.id">
                                    <td>{{index+1}}</td>
                                    <td>{{post.room}}</td>
                                    <td>{{post.building}}</td>
                                    <td>{{post.name}}</td>
                                    <td>{{post.phone}}</td>
                                    <td>{{post.email}}</td>
                                    <td>{{post.id_no}}</td>
                                    <td>{{post.people}}</td>
                                    <td class="text-danger" v-if="post.status==='Inactive'">{{post.occupied}}</td>
                                    <td class="text-success" v-else>{{post.status}}</td>
                                    <td>Ksh {{formatPrice(post.cost)}}</td>
                                    <td>Ksh {{formatPrice(post.other_cost)}}</td>
                                    <td>Ksh {{formatPrice(+post.other_cost+ +post.cost)}}</td>
                                    <td>Ksh {{formatPrice(post.balance)}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

    </div>
    </div>
</template>
<script>
    export default {
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message:{id:''},
                tenants:[],
                buildings:[],
                info:'',
                showInfo:'false',
            }
        },
        created() {
            this.loadbuildings();
            setTimeout(() => {
                this.loaddata();
            }, 2000);
        },
        methods: {
            setID(id){
                this.getTenantsByProperty();
            },
            addtenants(){
                if(this.message.id===''){
                    showWarningToast('Please select a building that you want to add tenant to')
                    this.showInfo='true';
                    this.info='Select a building here...'
                }else{
                    this.$router.push({name: 'addtenants',params:{id:this.message.id}});
                }
            },
            loaddata(){
                $('.card').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`auth/landlord/getTenants`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token') } }).then(response => {
                    $('.card').loader('hide');
                    this.tenants = response.data.data;
                }).catch(error => {
                    $('.card').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                    }else{
                        this.$notify({group: 'foo', text:'We are not able to complete your request' , type:'error', title: 'error'});

                    }
                });
            },
            getTenantsByProperty(){
                $('.card').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`auth/landlord/getTenantsByProperty/${this.message.id}`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token') } }).then(response => {
                    $('.card').loader('hide');
                    this.tenants = response.data.data;
                }).catch(error => {
                    $('.card').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                    }else{
                        this.$notify({group: 'foo', text:'We are not able to complete your request' , type:'error', title: 'error'});

                    }
                });
            },
            loadbuildings(){
                let uri =this.proxyUrl+`auth/landlord/getBuildings`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token') } }).then(response => {
                    this.buildings = response.data.data;
                }).catch(error => {
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                    }else{
                        this.$notify({group: 'foo', text:'we are not able to complete your request' , type:'error', title: 'error'});
                    }
                });
            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            }



        }
    }
</script>
