<template>
    <div>

        <div class="row justify-content-center">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Disputed Invoices </h4>
                        <div class="d-flex float-left">
                            <div class="form-group mr-3">
                                <select class="form-control" id="exampleSelectGender" v-model="message.id" v-on:change="setID()">
                                    <option disabled selected="selected">Select your building</option>
                                    <option  v-for="data in buildings" :key="data.id" v-bind:value="data.id" >{{data.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Invoice Number</th>
                                    <th>Payment Month</th>
                                    <th>Amount</th>
                                    <th>Balance</th>
                                    <th>Room Number</th>
                                    <th>Tenant phone</th>
                                    <th>Tenant name</th>
                                    <th>Building</th>
                                    <th>Comment</th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="post in invoices" :key="post.id">
                                    <td>{{post.id}}</td>
                                    <td>{{post.invoice_no.toUpperCase()}}</td>
                                    <td>{{post.payment_month}}</td>
                                    <td>Ksh {{formatPrice(post.amount)}}</td>
                                    <td>Ksh {{formatPrice(post.balance)}}</td>
                                    <td>{{post.room}}</td>
                                    <td>{{post.phone}}</td>
                                    <td>{{post.tenant_name}}</td>
                                    <td>{{post.building}}</td>
                                    <td>{{post.comment}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</template>
<script>
    export default {
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message:{
                    invoice_no:'',
                    id:'',
                },
                invoices:[],
                buildings:[],
            }
        },
        created() {
            this.loadbuildings();
        },
        methods: {
            setID(id){
                this.loaddata();
            },
            loaddata(){
                $('.card').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`auth/invoice/getDisputedInvoices/${this.message.id}`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token') } }).then(response => {
                    $('.card').loader('hide');
                    this.invoices = response.data.invoices;
                    // datatable();
                }).catch(error => {
                    $('.card').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                    }else{
                        this.$notify({group: 'foo', text:'we are not able to complete your request' , type:'error', title: 'error'});
                    }
                });
            },
            showPay(no,id){
                this.message.invoice_no=no;
                this.message.id=id;
                $('#pay').modal('show');
            },
            showDispute(no,id){
                this.message.invoice_no=no;
                this.message.id=id;
                $('#dispute').modal('show');
            },
            loadbuildings(){
                let uri =this.proxyUrl+`auth/landlord/getBuildings`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token') } }).then(response => {
                    this.buildings = response.data.data;
                }).catch(error => {
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                    }else{
                        this.$notify({group: 'foo', text:'we are not able to complete your request' , type:'error', title: 'error'});
                    }
                });
            },
            pay(){
                loadbutton();
                let uri =this.proxyUrl+`auth/invoice/pay`;
                this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token') } }).then(response => {
                    stopbutton();
                    if(response.data.status){
                        this.$notify({group: 'foo', text:response.data.message , type:'success', title: 'success'});
                        this.loaddata();
                    }else{
                        this.$notify({group: 'foo', text:response.data.message , type:'error', title: 'error'});
                    }
                }).catch(error => {
                    stopbutton();
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                    }else{
                        this.$notify({group: 'foo', text:'We are not able to complete your request' , type:'error', title: 'error'});
                    }
                });
            },
            dispute(){
                loadbutton();
                let uri =this.proxyUrl+`auth/invoice/dispute`;
                this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token') } }).then(response => {
                    stopbutton();
                    if(response.data.status){
                        this.$notify({group: 'foo', text:response.data.message , type:'success', title: 'success'});
                        this.loaddata();
                    }else{
                        this.$notify({group: 'foo', text:response.data.message , type:'error', title: 'error'});
                    }
                }).catch(error => {
                    stopbutton();
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                    }else{
                        this.$notify({group: 'foo', text:'We are not able to complete your request' , type:'error', title: 'error'});
                    }
                });
            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            }


        }
    }
</script>
